<div class="row">
			<div class="span12">
				<h1>About Me <%= image_tag "monkey_logo.png", :width => "64", :height => "64"%></h1>
<div class="row">
<div class="span4">
<h2>What is this?</h2>
<p>Snippet Monkey <%= image_tag "favicon.ico"%> is a Ruby on Rails based web application <strong>developed for "developers"</strong>. This application can be used by developers for storing the <strong> URLs of blogs or snippets from blogs</strong> for future development use.</p>

<p>Snippet was created by <a target="_blank" href="https://github.com/kannancet">Snippet Team</a>. The source is available as open-source in Github <%= link_to "here", "https://github.com/kannancet"%>.</p>

<p>You might have come across situations where you resolve some bug using some snippet or blog and encounters the same bug after a few months. Unfortunately you are on a different development machine and you are unable to find the resource by searching it on web again. Snippet Monkey <%= image_tag "favicon.ico"%> comes handy in such situations. Just save your resource URL or Snippet into this portal with a heading tag. Any its webified for ever to be accessed from anywhere and any time.</p>
</div>
<div class="span4">
<h2>Thanks to</h2>
<p><a target="_blank" rel="nofollow" href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a> the power behind the design!</p>
<p>Heavily scalable <a target="_blank" rel="nofollow" href="http://laravel.com">Ruby on Rails Framework</a> that is such a joy to code with</p>
Thanks to the technologists:
<ul>
<li><a target="_blank" rel="nofollow" href="https://github.com/seyhunak/twitter-bootstrap-rails.git"> Twitter Bootstrap by Seyhun Akyürek</a>
</li>
<li><a target="_blank" rel="nofollow" href="http://rubyonrails.org/">Ruby on Rails by David Heinemeier Hansson</a></li>
<li><a target="_blank" rel="nofollow" href="http://www.qburst.com/">Qburst - My Spirit and Passion</a></li>
</ul>
<p>Creator of Twitter Bootstrap Rails<a target="_blank" rel="nofollow" href="http://twitter.github.com/bootstrap/index.html">form builder</a> for allowing me to use it here, <a target="_blank" rel="nofollow" href="https://github.com/minikomi/Bootstrap-Form-Builder">(his GitHub repo)</a></p>
<p>Qburst! A team of innovative technologists working in mobile and web domain. Read the vision of Qburst <a target="_blank" rel="nofollow" href="http://www.qburst.com/company/about/vision">here.</a></p>
</div>
<div class="span4">
<h2>News and updates</h2>
<p><span class="label label-success">NEW!</span></p>
<p>Snippet Monkey has been opened to submissions. If have solved a bug, submit the blog URL or Snippet right now! The owner of the site will review it and post it shortly</p>

<p><span class="label label-info">Upcoming:</span></p>
<ul>
<li>Chat with developers and technologists in technology wise chat rooms.</li>
<li>Ask a technlogy expert about a potential query.</li>
<li>Rate and vote developers with exact Snippets.</li>
</ul></div>

</div>			</div>
		</div>
	
	</div> <!-- /container -->
<script>
	$(document).ready(function(){
		$("#coder_monkey").hide()
});
</script>
