<%= content_for :session_out_view do%>
<div class="row">
	<div class="span9">
		<p><h3>Edit Your Password</h></p>
	
		<div class="well">
		    <!-- <ul class="nav nav-tabs">
		      <li><a href="#profile" data-toggle="tab">Edit Password</a></li>
		    </ul> -->
		    	<form name="password_form" id="tab2" method="post" action="/user/update_password_via_recovery">
		        	<label>New Password</label>
		        	<input name="password" type="password" class="input-xlarge">
		        	<div>
		        	    <button class="btn btn-primary">Update</button>
		        	</div>
		        	<input type="hidden" name="id" value="<%= @user.id%>">
		    	</form>
		  </div>
		  	</div>
</div>
<script>
	$(document).ready(function(){
		$("#wana_join").hide();
	})
</script>
<%end%>
