<%next_state = @paginate_collection.last_page? ? "next disabled" : "next"%>
<%next_state_href =  @paginate_collection.last_page? ? "#" : snippets_path(:page =>  @paginate_collection.current_page + 1)%>
<%prev_state =  @paginate_collection.first_page? ? "previous disabled" : "previous"%>
<%prev_state_href =  @paginate_collection.first_page? ? "#" : snippets_path(:page =>  @paginate_collection.current_page - 1)%>
<ul class="pager">
    <li class="<%= next_state%>">
    	<a href=<%= next_state_href%>>Older &rarr;</a>
    </li>
    <li class="<%= prev_state%>">
    	<a href=<%= prev_state_href%>>&larr; Newer</a>
    </li>
</ul>

